<!-- assets/style.css -->


nav a.active {
text-decoration: underline;
}


.section {
max-width: 900px;
margin: auto;
padding: 2rem 1rem;
}


h2 {
margin-bottom: 10px;
}


.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
gap: 15px;
}


.card {
background: var(--card-bg);
padding: 15px;
border-radius: var(--radius);
text-align: center;
font-weight: bold;
border: 1px solid #ddd;
}


.project {
margin-bottom: 3rem;
background: white;
padding: 1.5rem;
border-radius: var(--radius);
border: 1px solid #ddd;
}


.project img {
width: 100%;
border-radius: var(--radius);
margin-top: 10px;
border: 1px solid #ccc;
}


.gallery {
display: flex;
gap: 10px;
margin: 10px 0;
}


.gallery img {
width: 32%;
border-radius: var(--radius);
border: 1px solid #ccc;
}


.btn {
display: inline-block;
padding: 10px 20px;
border-radius: var(--radius);
background: var(--primary);
color: white;
text-decoration: none;
margin-top: 10px;
}


footer {
text-align: center;
padding: 1rem;
margin-top: 2rem;
}